.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh
}

.title {
  font-size: 32px;
  font-weight: bold;
}

.addFoodContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin-top: 32px;
  margin-bottom: 32px;
}

.addFood {
  display: flex;
  height: 32px;
}

.addFoodInput {
  width: 200px
}

.addFoodButton {
  margin-left: 16px;
}

.successText {
  color: green
}

.errorText {
  color: red
}

.randomFood {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.randomFoodHeader {
  font-size: 24px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.randomFoodText {
  font-size: 24px;
  min-height: 24px;
}

.randomFoodButton {
  width:fit-content;
  padding-top: 4px;
  padding-bottom: 4px;
}